<div>
    <h2>Frutas Favoritas de la gente</h2>
    <div *ngFor="let persona of alumnos">
        <h1> Nombre Persona :{{persona.nombre}}</h1>
        <h4>Edad : {{persona.edad}}</h4>
    </div>
    <h2>Hola kevin</h2>
    <ul>
        <!--
        <li>{{frutasFavoritas[0]}}</li>
        <li>{{frutasFavoritas[1]}}</li>
        <li>{{frutasFavoritas[2]}}</li>
        <li>{{frutasFavoritas[3]}}</li>
        <li>{{frutasFavoritas[4]}}</li> 
        -->
        <!-- <li *ngFor="let nombreInventado of frutasFavoritas">{{nombreInventado}}</li> -->
        
        
    </ul>
</div>
